.achievement__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    margin: 0 10px;
}

.portfolio__item:hover {
    background: var(--color-primary-varient);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__item h3 {
    background: transparent;
    margin: 1.2rem 0 1rem;
    font-weight: bold;
    color: lightblue;
}

.portfolio__cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.carousel .slide {
    background: none;
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

/* Fix for Vercel deployment alignment */
.carousel.carousel-slider .slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* added to center the carousel */
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .carousel .slide {
        padding: 0 5px;
    }
    .carousel.carousel-slider {
        padding: 0 20px;
    }
    .portfolio__item {
        width: 95%;
        max-width: 350px;
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        centerMode: false;
    }
    .achievement__container {
        padding: 0.5rem;
        width: 100%;
    }
    .portfolio__item {
        width: 95%;
        margin: 0 auto;
        padding: 0.75rem;
        max-width: 300px;
        width: calc(100% - 10px);
    }
    .portfolio__item-image {
        height: 180px;
    }
    .carousel .slide {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .portfolio__item {
        width: 90%;
        margin: 0 auto;
        padding: 0.75rem;
        max-width: 280px;
        width: 100%;
    }
    .portfolio__item-image {
        height: 160px;
    }
    .portfolio__item h3 {
        margin: 0.8rem 0 0.6rem;
        font-size: 1rem;
    }
    .achievement__container {
        padding: 0.25rem;
    }
    .carousel.carousel-slider {
        padding: 0 10px;
    }
}